<!--
 * @file 404.ejs
 * @author Samuel Beaulac
 * @date 23/09/2025
 * @Brief Partial pour la Page 404
-->

<section class="section color-scheme-1">
  <div class="py-5 d-flex flex-column align-items-center">
    <h1 class="display-3 bold">404</h1>
    <p class="display-4">Page Not Found</p>
    <a class="button-primary--scheme-1" href="/">Go to Home</a>
  </div>
</section>
