<!--
 * @file footer.ejs
 * @author Samuel Beaulac
 * @date 23/09/2025
 * @Brief Partial pour le pied de page du site web
-->

<footer class="footer-group">
  <div class="footer-section">
    <div class="section color-scheme-2" id="footer">
      <nav class="footer-menu footer__template-columns py-4">
        <div class="footer__template-column--center">
          <ul class="footer-menu-list-col list-unstyled">
            <li class="nav-item">
              <a class="nav-link" href="/#menu">Menu</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="footer-copy text-center py-4">
        &copy; 2025 Pizzeria Bella Napoli. Tous droits réservés.
      </div>
      </div>
    </div>
  </div>
</footer>
