<!--
 * @file footer.ejs
 * @author Samuel Beaulac
 * @date 21-09-2025
 * @Brief 
 * @details 
-->

<footer class="footer-group">
  <div class="footer-section">
    <div class="section color-scheme-1" id="footer">
      <nav class="footer-menu footer__template-columns py-4">

        <div class="footer__template-column--left">
          <ul class="footer-menu-list-col list-unstyled">
            <li class="nav-item">
              <a class="nav-link" href="/">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Link 2</a>
            </li>
          </ul>
        </div>
        
        <div class="footer__template-column--center">
          <ul class="footer-menu-list-col list-unstyled">
            <li class="nav-item">
              <a class="nav-link" href="/">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Link 2</a>
            </li>
          </ul>
        </div>

        <div class="footer__template-column--right">
          <ul class="footer-menu-list-col list-unstyled">
            <li class="nav-item">
              <a class="nav-link" href="/">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Link 2</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="footer-copy text-center py-4">
        &copy; 2025 MonSite. Tous droits réservés.
      </div>

      </div>
    </div>
  </div>
</footer>
