<!--
 * @file header.ejs
 * @author Samuel Beaulac
 * @date 21-09-2025
 * @Brief 
 * @details 
-->

<header class="header-group">
  <div class="header-section">
    <div class="section color-scheme-1" id="header">
      <div class="header__template-columns">

        <div class="header__template-column--left">
          <div class="header__logo">
            <a href="/"><img src="/images/logo.png" alt="Logo"></a>
          </div>
        </div>
        
        <div class="header__template-column--center">
          <nav class="header-menu">
            <ul class="header-menu-list list-unstyled">
              <li class="nav-item">
                <a class="nav-link" href="/">Link 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Link 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Link 3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Link 4</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="header__template-column--right">
          <div class="header__cart">
            <a href="/">
              Log In
            </a>
        </div>

      </div>
    </div>
  </div>
</header>
