<!--
 * @file hero-section.ejs
 * @author Samuel Beaulac
 * @date 21-09-2025
 * @Brief 
 * @details 
-->

<section class="section color-scheme-1">
    <div class="hero-section">
        <h1>Hero</h1>
        <p>Paragraph</p>
        <a class="button-primary--scheme-1" href="/">Button</a>
    </div>
</section>