/*
 *  @file base.css
 *  @author Samuel Beaulac
 *  @date 21/09/25
 *  @brief
 *  @details
*/

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}