/*
 *  @file hero-section.css
 *  @author Samuel Beaulac
 *  @date 23/09/25
 *  @brief Styles pour la section hero
*/

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
