<!--
 * @file 404.ejs
 * @author Samuel Beaulac
 * @date 23/09/2025
 * @Brief Page 404
-->

<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('../partials/head') %>
</head>

<body class="page-width">
  <%- include('../partials/header') %>


  <main class="content-for-layout"><%- include('../partials/404') %></main>

  <%- include('../partials/footer') %>
</body>

</html>