<!--
 * @file sommaire.ejs
 * @author Samuel Beaulac
 * @date 23/09/2025
 * @Brief Page sommaire
-->

<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="page-width">
    <%- include('../partials/header') %>

    <main class="content-for-layout">
      <%-include('../partials/sommaire-section') %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
